<div class="row">
  <div class="mx-auto col-sm-8">
    <h2>Contact Us</h2>
    <p class="text-justify"> email: <%= mail_to "giselandrewadopt@gmail.com" %> </p>
    <p class="text-justify"> phone: (646) 598-9016 </p>
    <p class="text-justify"> facebook: <%= link_to nil, "https://www.facebook.com/giselandrewadopt" %> </p>
    <p class="text-justify"> instagram: <%= link_to nil, "https://www.instagram.com/giselandrewadopt" %> </p>
  </div>
</div>

