<div class="row">
  <div class="mx-auto col-sm-8">
    <h2 class="text-justify">Do you believe in destiny?</h2>
    <p class="text-justify"><strong>We do!</strong> That is why we believe you
      have found us here, waiting for you to get a glimpse into
      the possible future that awaits your baby.</p>
    <p class="text-justify">We are Gisel, Drew and our three little boys.
      We are an adoptive family in New York City. Our home is filled with love,
      happiness and laughter. Our passion for music makes our lives fun, loud and
      joyful. We can’t wait to welcome your child to our affectionate and merry
      family.</p>
      <p class="text-center"><%= link_to "Contact Us", contact_path, class: "btn btn-warning" %>
      <%= link_to "Facebook Page", "https://www.facebook.com/giselandrewadopt", class: "btn btn-warning" %>
      <%= link_to "Instagram", "https://www.instagram.com/giselandrewadopt", class: "btn btn-warning" %></p>
  </div>
</div>
