<div class="row">
  <div class="mx-auto col-sm-8">
    <h2>Our Story</h2>
    <p class="text-justify">
    Welcome! We are Gisel and Drew and we live in New York City.
    </p>
    <h4>Our Marriage</h4>
    <p class="text-justify">
    We met at our church, which is located in the heart of Manhattan. Since the beginning of our relationship, we knew we we were meant for each other. We share a love for God and desire to serve him. We have a passion for music and enjoy dining out in New York City (we love Mexican and Asian food!!).  We especially love to just spend time with each other talking about pretty much anything.
    </p>
    <p class="text-justify">
    Since meeting and getting married over 11 years ago  here in the Big Apple we've become the proud parents of <%= link_to "3 precious boys", our_boys_path %>.
    </p>
    <h4>Our Journey</h4>
    <p class="text-justify">
    Less than 1 year into our marriage we were surprised and delighted to welcome our first son into the family, and quickly grew our family to include our other 2 sons.  Having three boys have been an amazing journey. Our home is rarely quiet! It is usually full of loudness, fun, running around, Legos, giggling, laughter, and music.
    </p>
    <h4>Our Lives</h4>
    <p class="text-justify">
    We enjoy traveling, camping, swimming, outdoors sports, hanging out with friends and family. We live near the beach, so our summers are spent at the beach boogie boarding, surfing, digging holes, and building sand castles. We also enjoy summer firepits in our backyard with s’mores, stories,  and more music.
    </p>
    <p class="text-justify">
    We also ensure that we take advantage of all the cultural and educational activities that NYC has to offer. This includes attending music concerts, going to the Bronx Zoo, and frequenting museums. We feel blessed to have the best of two worlds; the beach and NYC!
    </p>
    <p class="text-justify">
    We believe that music enriches children’s lives in a very special way. Because of that we've decided to commit to giving our kids a full and diverse musical education.  They play piano, guitar, bongos, and they love to sing.  We have them involved with private music instruction at a very well respected music school in Lower Manhattan, and they are also involved in the music ministry at our church.
    </p>
    <h4>So why are we adopting?</h4>
    <p class="text-justify">
    You may be wondering why are we planning to adopt when we already have three boys...good question!
    </p>
    <p class="text-justify">
    We believe that we have been predestined to welcome your baby into our home.
    </p>
    <p class="text-justify">
    We love kids and desire a bigger family. We feel our home and family is well suited to welcome another child, your child.
    We have established a solid foundation that will give your baby a wonderful childhood. He/She will grow up know that his/her birth mother chose us to raise him/her in a loving, respectful, safe, joyful and nurturing home.
    <p class="text-justify">
    We will be forever thankful for your decision. We are looking forward to embrace, cherish and love your baby!</p>
    </p>
  </div>
</div>
