<%= content_for(:header_image) do %>
  <%= content_tag :header, nil, class: "py-5 bg-image-full", id: "header-image-photos" do %>
    <div class="container">
      <div class="row">
        <div class="offset-sm-2 col-sm-4">
          <%= content_tag :h1, t(:photos), class: "display-4 text-light" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
