<%= render "photos_header" %>

<div class="container">
  <% @albums.each do |album| %>
    <div class="row">
      <div class="col-sm-12">
        <h1> <%= album.title %> </h1>
      </div>
      <% album.photos.each do |photo| %>
        <div class="col-sm-4">
          <%= link_to((image_tag photo.image.variant(resize: "300")), (url_for(photo.image)), class: "float-left img-thumbnail", data: {lightbox: album.title, title: photo.title}) %>
        </div>
      <% end %>
    </div>
    <hr>
  <% end %>
</div>
