<%= render "photos_header" %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <% @photos.each do |photo| %>
        <%= image_tag photo.image.variant(resize: "300x300"), class: "float-left img-thumbnail" %>
      <% end %>
    </div>
  </div>
</div>
