<footer class="footer py-5 bg-light">
  <div class="container">
    <p class="m-0 text-center text-black"><%= "#{t(:gisel_and_drew_adopt)} #{DateTime.current.year}" %> </p>
    <p class="m-0 text-center text-black"> <%= mail_to "giselandrewadopt@gmail.com" %> </p>
    <p class="m-0 text-center text-black"> 1-646-598-9016 </p>
  </div>
  <!-- /.container -->
</footer>
