<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <%= link_to "G & D", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <%= content_tag :li, nil, class: "nav-item" do %>
          <%= link_to t(:our_story), our_story_path, class: "nav-link" %>
        <% end %>
        <%# content_tag :li, nil, class: "nav-item" do %>
          <%# link_to t(:about_gisel), about_gisel_path, class: "nav-link" %>
        <%# end %>
        <%# content_tag :li, nil, class: "nav-item" do %>
          <%# link_to t(:about_drew), about_drew_path, class: "nav-link" %>
        <%# end %>
        <%# content_tag :li, nil, class: "nav-item" do %>
          <%# link_to t(:our_boys), our_boys_path, class: "nav-link" %>
        <%# end %>
        <%# content_tag :li, nil, class: "nav-item" do %>
          <%# link_to t(:our_home), our_home_path, class: "nav-link" %>
        <%# end %>
        <%# content_tag :li, nil, class: "nav-item" do %>
          <%# link_to t(:our_family), our_family_path, class: "nav-link" %>
        <%# end %>
        <%# content_tag :li, nil, class: "nav-item" do %>
          <%# link_to t(:photos), photos_path, class: "nav-link" %>
        <%# end %>
        <%= content_tag :li, nil, class: "nav-item" do %>
          <% link_to t(:contact), contact_path, class: "nav-link" %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

